body {
	background: linear-gradient(#003366, #99ccff);
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Baloo Thambi', cursive;
	overflow: hidden;
}

.nav-bar a {
	font-family: 'Baloo Thambi', cursive;
	font-size: 2em;
	margin: 0 10px 0 10px;
	position: relative;
	top: 10px;
	color: rgba(230, 230, 230, .7);
	transition: color 0.5s;
}

.nav-bar a:hover, .nav-bar a:active, .nav-bar a:focus {
	text-decoration: none;	
	color: #99ccff;
}

.nav-bar span {
	font-size: .8em;
}

.name {
	height: 100%;
	width: 100%;
	font-family: 'Baloo Thambi', cursive;	
}

.name h1, .name h4 {
	position: relative;
	top: 100px;
	cursor: default;
}

.name h1 {
	font-size: 4.5em;
	color: #e6e6e6;
	margin-bottom: 20px;
	cursor: default;
	text-shadow:     0 1px 0 hsl(174,5%,80%),
                     0 2px 0 hsl(174,5%,75%),
                     0 3px 0 hsl(174,5%,70%),
                     0 4px 0 hsl(174,5%,66%),
                     0 5px 0 hsl(174,5%,64%),
                     0 6px 0 hsl(174,5%,62%),
                     0 7px 0 hsl(174,5%,61%),
                     0 8px 0 hsl(174,5%,60%),
    
                     0 0 5px rgba(0,0,0,.05),
                    0 1px 3px rgba(0,0,0,.2),
                    0 3px 5px rgba(0,0,0,.2),
                   0 5px 10px rgba(0,0,0,.2),
                  0 10px 10px rgba(0,0,0,.2),
                  0 20px 20px rgba(0,0,0,.3);
}

.name h4 {
	font-size: 1.5em;
	color: rgba(0, 0, 0, 0.5);
}

.social_icons {
	display: flex;
	align-items: center;
    justify-content: center;
    position: relative;
    top: 125px;
}

.facebook, .github, .linkedin {
	width: 55px;
	margin: 0 5px 0 5px;
	transition: transform 0.25s;
}

.facebook:hover, .github:hover, .linkedin:hover {
	cursor: pointer;
	transform: translate(0, -4px);
}