{% extends "base.html" %}

{% block content %}
<header class="title">
	<h1 class="text-center text-uppercase">About</h1>

	<hr>
</header>

<img src="/img/portrait.jpg" class="portrait img-responsive">

<div class="text-center title">
	<br><br><p>Description...</p><br>

	<h2 class="text-uppercase">Web Dev Skills</h2>

	<h3>Programming Languages &#38; Frameworks</h3>

		<div class="row">
			<div class="col-md-3">
				<img src="/img/HTML5_logo.svg" class="web-logos-all">
				<h4>HTML5</h4>
			</div>

			<div class="col-md-3">
				<img src="/img/CSS3_logo.svg" class="web-logos-all">
				<h4>CSS3</h4>
			</div>

			<div class="col-md-3">
				<img src="/img/JS_logo.svg" class="web-logos-all web-logos-ind">
				<h4 class="web-logos-text-top">JavaScript</h4>
			</div>

			<div class="col-md-3">
				<img src="/img/Python_logo.svg" class="web-logos-all web-logos-ind">
				<h4 class="web-logos-text-top">Python</h4>
			</div>				
		</div>

		<div class="row">
			<div class="col-md-3">
				<img src="/img/Bootstrap_logo.svg" class="web-logos-all">
				<h4>Bootstrap</h4>
			</div>

			<div class="col-md-3">
				<img src="/img/Jquery_logo.svg" class="web-logos-all web-logos-jquery">
				<h4 class="web-logos-text-jquery">Jquery</h4>
			</div>

			<div class="col-md-3">
				<img src="/img/google_app_engine_logo.png" class="web-logos-all web-logos-google">
				<h4 class="web-logos-text-google">Google App Engine</h4>
			</div>

			<div class="col-md-3">
				<img src="/img/Jinja2_logo.png" class="web-logos-all">
				<h4 class="web-logos-text-jinja">Jinja2</h4>
			</div>
		</div>
</div>

{% endblock %}