{% extends "base.html" %}

{% block content %}
		<header class="row">

				<div class="col-md-6">
					<img src="/img/logo.png" class="logo img-responsive">
				</div>

				<div class="col-md-6 title text-right text-uppercase">
					<h1>hayden oster</h1>

					<h4>full-stack ninja</h4>
				</div>
			<hr>			
		</header>

		<section class="row main">
			<div class="col-md-12">
				<img src="/img/main-portfolio.jpg" class="main-photo img-responsive">
			</div>
		</section>

		<section class="featured">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-left text-capitalize">featured work</h2>
				</div>
			</div>

			<div class="row gallery">

				<div class="col-md-4 text-center">
					<img src="/img/feature-1.jpg" class="img-responsive" alt="Garlic Bread">

					<h3 class="text-uppercase">garlic bread</h3>

					<p><a href="#">http://github.com/haydenoster/vegetables</a></p>
				</div>

				<div class="col-md-4 text-center">
					<img src="/img/feature-2.jpg" class="img-responsive" alt="Sushi">

					<h3 class="text-uppercase">sushi</h3>

					<p><a href="#">http://github.com/haydenoster/vegetables</a></p>
				</div>

				<div class="col-md-4 text-center">
					<img src="/img/feature-3.jpg" class="img-responsive" alt="Vegetables">

					<h3 class="text-uppercase">vegetables</h3>

					<p><a href="#">http://github.com/haydenoster/vegetables</a></p>
				</div>

			</div>

		</section>
{% endblock %}